<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-160</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-100</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-100</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>T</key>
      <integer>-10</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>Y</key>
      <integer>-80</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>F</key>
      <integer>100</integer>
    </dict>
  </dict>
</plist>
