<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Apr 12 19, 22:45</string>
      <string>glyphs.A_pr 12 19, 22_45</string>
    </array>
    <array>
      <string>Apr 13 19, 22:35</string>
      <string>glyphs.A_pr 13 19, 22_35</string>
    </array>
    <array>
      <string>Apr 13 19, 22:45</string>
      <string>glyphs.A_pr 13 19, 22_45</string>
    </array>
    <array>
      <string>Apr 13 19, 23:04</string>
      <string>glyphs.A_pr 13 19, 23_04</string>
    </array>
    <array>
      <string>temp</string>
      <string>glyphs.temp</string>
    </array>
    <array>
      <string>Apr 12 19, 23:55</string>
      <string>glyphs.A_pr 12 19, 23_55</string>
    </array>
    <array>
      <string>Apr 12 19, 23:58</string>
      <string>glyphs.A_pr 12 19, 23_58</string>
    </array>
  </array>
</plist>
